{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block css %}<link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-login' action="/login/" method="post">
                {% if message %}
                <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
                {% csrf_token %}
                <div class="alert alert-danger alert-dismissible",role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span>你™怎么还不登录😡</span><br>
                    <span>不过,你有没有刚才™手滑点成注册😏</span>
                </div>
                <h2 class="text-center">欢迎登录</h2>

                <div class="form-group">
                    {{ login_form.username.label_tag }}
                    {{ login_form.username}}
                </div>
                <div class="form-group">
                    {{ login_form.password.label_tag }}
                    {{ login_form.password }}
                </div>

                <br>
                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right">提交</button>
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}